.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; 
    background-color:lightblue;
    width: "50%";
    margin-top: "1000px";
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

